h2{
    color: blue;
    background-color: yellow;
    text-shadow: 2px 4px 5px purple;
}
div{
    width: 200px;
    height: auto;
    border: 1px solid red;
}
p{
    text-indent: 10px;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 2px;
    line-height: 10px;
    word-spacing: 10px;
    white-space: pre-wrap;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-style: italic;
}